.footer{
    margin-top: 40px;
    background-color: rgb(24, 104, 183);

    &__top{
        display: flex;
        flex-wrap: wrap;
        margin: auto;
        padding-bottom: 40px;
        margin-bottom: 20px;
        border-bottom: 1px solid rgba(229, 232, 235, 0.25);
        width: 82.5%;

        h3{
            color: white;
            font-size: 20px;
            font-weight: 600;
            margin-bottom: 8px;
            margin-top: 8px;
        }

        &-left{
            padding: 40px 64px 0 0;
            width: 50%;

            p{
                color: rgb(251, 253, 255);
            }

            form{
                margin-top: 16px;

                input{
                    border-radius: 12px;
                    border: 2px solid rgb(229, 232, 235);
                    color: $text-color-primary;
                    padding: 12px;
                    font: inherit;
                    width: 340px;
                    margin-right: 16px;
                    outline: none;
                }

                button{
                    border-radius: 12px;
                    padding: 15px 24px;
                    background-color: rgb(32, 129, 226);
                    color: white;
                    font: inherit;
                    font-weight: 600;
                    // width: 162px;
                }
            }
        }

        &-right{
            padding: 40px 0 0 64px;
            width: 50%;
        }

        .social__links{
            margin-top: 8px;
            display: flex;

            &-link{
                margin-right: 12px;
                border-radius: 12px;
                // padding: 15px 24px;
                padding: 10px 16px;
                background-color: rgb(32, 129, 226);
                color: white;
                font-size: 20px;

                &:last-child{
                    margin-right: 0;
                }
            }
        }
    }

    &__middle{
        display: flex;
        flex-wrap: wrap;
        margin: auto;
        padding-bottom: 40px;
        margin-bottom: 20px;
        border-bottom: 1px solid rgba(229, 232, 235, 0.25);
        width: 82.5%;

        &-left{
            padding-top: 40px;
            width: 25%;
            color: white;
        }

        &-logo{
            display: inline-block;
            margin-bottom: 8px;

            img{
                width: 44px;
                height: 44px;
            }

            span{
                color: white;
                font-size: 20px;
                font-weight: 600;
                display: block;
            }
        }

        &-right{
            padding: 40px 0 0 72px;
            width: 75%;
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
        }

        &-column{
            min-width: 20%;
            margin-bottom: 16px;

            &--header{
                font-size: 16px;
                color: white;
                font-weight: 600;
                line-height: 110%;
                margin: 16px 0;
            }
        }
    }

    &__list{
        margin-bottom: 16px;

        &-item{
            font-size: 14px;
            margin-top: 12px;

            a{
                color: white;
            }
        }
    }

    &__bottom{
        display: flex;
        justify-content: space-between;
        width: 82.5%;
        margin: 16px auto 0;
        padding-bottom: 16px;

        &-section{
            p{
                color: white;
                font-size: 12px;
                margin: 12px 0;
            }

            a{
                color: white;
                font-size: 12px;

                &:first-child{
                    margin-right: 16px;
                }
            }
        }
    }
}